#horloge {
    position: absolute;
    width: 600px;
    height: 600px;
    border: 1px solid #000000;
    border-radius: 50%;
    background-color: cadetblue;
    color: darkkhaki;
    text-shadow: 1px 3px 2px rgba(14, 54, 128, 1);
    box-shadow: 1px 1px 8px 6px rgba(0,0,0,0.5);
}

.aiguille {
    box-shadow: 1px 1px 8px 6px rgba(0,0,0,0.1);
}

#cercleCentre{
    position: absolute;
    top: 290px;
    left: 290px;
    width: 20px;
    height: 20px;
    z-index: 10;
    background-color: wheat;
    border-radius: 50%;
    box-shadow: 1px 1px 8px 6px rgba(0,0,0,0.5);
}

.setTime{
    position: absolute;
    top: calc(300px - 5vh);
    left: 590px;
    display: flex;
    flex-direction: row;
    width: 10vw;
    height: 10vh;
    border: 1px solid black;
    z-index: -1;
    box-shadow: 1px 1px 8px 6px rgba(0,0,0,0.5);
}

.setTimeBox {
    width: 33%;
    height: 100%;
    border: 1px solid crimson;
    background-color: cadetblue;
    text-align: center;
    font-size: 0.8rem;
}

.add, .remove {
    width: min-content;
    height: min-content;
    margin: 15px;
    user-select: none;
}

.date {
    text-align: center;
}